#copyright-bar {
  background: url("./pw_maze_black.png");
  text-align: center;
  padding-bottom: 40px; /*no*/

  a {
    margin-top: 50px; /*no*/
    margin-bottom: 35px; /*no*/
    display: inline-block;

    img {
      width: 55px;
      display: inline-block;
    }
  }

  span {
    color: #cccccc;
    font-size: 14px;
  }
}
