#top-new-version-hints {
  text-align: center;
  background-color: #393e46;
  border-radius: 2px;

  span {
    color: #eee;
    letter-spacing: 1.5px;
    font-size: 12px;
  }
}

#index-page {
  padding: 0;

  section {
    border-bottom: 0.5px solid #ddd; /*no*/

    padding-top: 70px;
    padding-bottom: 50px;

    h2 {
      color: #222222;
      font-weight: bold;
      text-align: center;
      font-size: 34px; /*no*/
      margin-bottom: 15px; /*no*/
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
    }

    h6 {
      color: #888888;
      text-align: center;
      font-size: 16px; /*no*/
      margin: 10px 0; /*no*/
    }

    h3 {
      color: #222222;
      text-transform: uppercase;
      font-size: 16px; /*no*/
      margin-bottom: 5px;
    }

    span {
      color: #888888;
      font-size: 14px;
      display: block;
    }

    p {
      font-size: 14px;
      color: #888888;
      font-family: "Open Sans", sans-serif;
    }
  }

  #header {
    background: url("./pw_maze_black.png") repeat;
    color: #fff;
    padding-top: 230px; /*no*/
    padding-bottom: 250px; /*no*/

    @media (min-height: 950px) {
      padding-bottom: 350px; /*no*/
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 50px;
      letter-spacing: -3px;
      margin-bottom: 20px;
    }

    figure {
      margin-bottom: 35px; /*no*/

      img {
        display: block;
        margin: 0 auto;
        width: 170px;
      }
    }

    ul {
      color: #bcbcbc;
      letter-spacing: 1px;
    }

    .link-btn {
      margin-top: 55px; /*no*/

      a {
        color: #fff;
        background: #00a79d;
        padding: 15px 35px;
        border-radius: 5px;
        font-size: 15px;
        outline: 0;
        text-decoration: none;

        &:hover,
        &:active {
          color: #00a79d;
          background-color: #fff;
          animation: blueToWhite 500ms;
        }

        @keyframes blueToWhite {
          from {
            background-color: #00a79d;
          }
          to {
            background-color: #fff;
          }
        }
      }
    }
  }

  #footer {
    background: url("./pw_maze_black.png");
    text-align: center;
    padding-bottom: 40px; /*no*/

    a {
      margin-top: 50px; /*no*/
      margin-bottom: 35px; /*no*/
      display: inline-block;

      img {
        width: 55px;
        display: inline-block;
      }
    }

    span {
      color: #cccccc;
      font-size: 14px;
    }
  }

  #instructor {
    .instructor-box {
      width: 22.5%;
      margin: 0 1.25%;
      overflow: hidden;
      height: 490px; /*no*/
      text-align: center;
      float: left;

      @media (max-width: 767px) {
        float: none;
        margin: 0 auto;
        width: auto;
        max-width: 307px; /*no*/
      }

      span {
        margin-bottom: 24px;
      }
    }

    .instructor {
      margin: 7px 7px 25px 7px; /*no*/
    }
  }

  #club-life {
    .video {
      width: 98%;
      display: block;
      margin: 0 auto;
      border-radius: 5px;
    }

    .life-media {
      background-color: #fafafa;
      padding: 10px;
      border-radius: 5px;
    }
  }

  #skills {
    background: url("./pw_maze_black.png");
    margin: 0;
    width: 100%;

    h2 {
      color: #fff;
    }

    .skills-block {
      display: flex;
      justify-content: center;

      @media (max-width: 767px) {
        display: block;
        margin-top: 60px; /*no*/

        a {
          margin: 0 auto 15px;
        }
      }
    }

    a {
      background-color: #464646;
      height: 71px;
      margin: 15px 15px 15px; /*no*/
      text-align: center;
      border-radius: 5px;
      width: 241.5px; /*no*/
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        background-color: #00a79d;
      }
    }

    span {
      display: inline-block;
      line-height: 71px;
      font-size: 18px; /*no*/
      color: #fff;
      font-family: "Open Sans", serif;
    }

    figure {
      height: 100%;
      display: flex;
      width: 43px; /*no*/
      margin-right: 25px; /*no*/
    }
  }
}
